pandas==1.1.2
time==0.1.0
random==0.1.0
requests==2.25.0
datetime==4.3
math==1.1.0
numpy==1.19.4
Pillow==8.0.1
operator==1.2.0
python-dotenv==0.14.0
tempfile==3.2.2
os==5.2.2 
statistics
svgwrite
tweepy
svglib
reportlab
pymupdf
svglib
webcolors
